# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ-based IDEs
.idea/
*.iml
*.iws
*.ipr

# Visual Studio Code
.vscode/

# Flutter/Dart specific
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Environment files
.env
.env.*

# Secrets & Certificates
*.keystore
*.jks
*.pem
*.p12
google-services.json
GoogleService-Info.plist
lib/firebase_options.dart

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
